.ui.link.cards .ui.card {
  &.pokemon-card:hover {
    border: 1px solid blue;
    &.active {
      border-width: 2px;
    }
  }
}
.pokemon-card.ui.card {
  &.active {
    border: 2px solid blue;
  }
}